<%= form_with model: meal_entry, local: true do |f| %>
  <% if meal_entry.errors.any? %>
    <div class="alert alert-danger">
      <strong><i class="fa-solid fa-circle-exclamation me-1"></i> Please fix:</strong>
      <ul class="mb-0 mt-1"><% meal_entry.errors.full_messages.each do |m| %><li><%= m %></li><% end %></ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-4">
      <%= f.label :consumed_on, "Date", class: "form-label" %>
      <%= f.date_field :consumed_on, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :meal_type, "Meal", class: "form-label" %>
      <%= f.select :meal_type, MealEntry::MEAL_TYPES, {}, class: "form-select" %>
    </div>
    <div class="col-md-4">
      <%= f.label :calories, "Calories (kcal)", class: "form-label" %>
      <%= f.number_field :calories, min: 0, class: "form-control", placeholder: "420" %>
    </div>
    <div class="col-12">
      <%= f.label :name, "What did you eat?", class: "form-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Sea moss smoothie bowl", autofocus: true %>
    </div>
    <div class="col-md-4">
      <%= f.label :protein_g, "Protein (g)", class: "form-label" %>
      <%= f.number_field :protein_g, min: 0, class: "form-control", placeholder: "20" %>
    </div>
    <div class="col-md-4">
      <%= f.label :carbs_g, "Carbs (g)", class: "form-label" %>
      <%= f.number_field :carbs_g, min: 0, class: "form-control", placeholder: "45" %>
    </div>
    <div class="col-md-4">
      <%= f.label :fat_g, "Fat (g)", class: "form-label" %>
      <%= f.number_field :fat_g, min: 0, class: "form-control", placeholder: "12" %>
    </div>
    <div class="col-12">
      <%= f.label :description, "Notes", class: "form-label" %>
      <%= f.text_area :description, rows: 2, class: "form-control", placeholder: "Ingredients, how it sat with your gut, etc." %>
    </div>
  </div>

  <div class="d-flex gap-2 mt-4">
    <%= f.submit submit_label, class: "btn btn-brand" %>
    <%= link_to "Cancel", meal_entries_path(date: meal_entry.consumed_on), class: "btn btn-outline-brand" %>
  </div>
<% end %>
