<nav class="navbar navbar-expand-lg admin-navbar sticky-top">
  <div class="container-fluid px-3 px-lg-4">
    <%= link_to admin_root_path, class: "navbar-brand text-white" do %>
      <span class="leaf" style="background: var(--brand-gold);"><i class="fa-solid fa-user-shield"></i></span>
      <span>Holistic Wellness Fitness</span>
      <span class="brand-chip" style="color: var(--brand-gold); border-color: var(--brand-gold);">Admin</span>
    <% end %>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#adminTopNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminTopNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
        <li class="nav-item"><%= link_to "Member view", dashboard_path, class: "nav-link text-white-50" %></li>
        <li class="nav-item dropdown ms-lg-2">
          <a class="nav-link d-flex align-items-center gap-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= initials_badge(current_user) %>
            <span class="d-none d-lg-inline fw-semibold"><%= current_user.first_name %></span>
            <i class="fa-solid fa-chevron-down small"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-2">
            <li class="px-3 py-2">
              <div class="fw-bold"><%= current_user.full_name %></div>
              <div class="small text-muted"><%= current_user.title.presence || "Care team" %></div>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to '<i class="fa-solid fa-heart-pulse me-2"></i>My chart'.html_safe, dashboard_path, class: "dropdown-item" %></li>
            <li><%= link_to '<i class="fa-solid fa-right-from-bracket me-2"></i>Sign out'.html_safe, logout_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
